body {
  margin-left: 20px;
  background-color: rgb(68, 190, 199);
  font-family: 'Montserrat', sans-serif;
  font-family: 'Amatic SC', cursive;
  font-size: 1.6em;
}
p {
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 10px 0;
  font-size:
}

h1 {
    margin: 0;
}

.container {
  margin: 5rem;
  padding: 5rem;
  background-color: rgba(68, 190, 250, 0.5);
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: .2rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7em;
}
.submit-butt {
  font-family: 'Montserrat', sans-serif;
  background-color: #0CA5AA;
  border-radius: 0.3rem;
  display: block;
  width: 23%;
  height: 1.7rem;
  color: #495050;
  border: 1px solid #ced4da;
}

.input-checkbox, .input-radio {
  display: inline-block;
  margin-right: 0.6rem;
  min-height: 1.2rem;
  min-width: 1.2rem;
}

.form-control {
  display: block;
  width: 23%;
  height: 1.7rem;
  padding: 0.3rem 0.7rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.3rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75em;
}

#description {
  margin: 0 0 15px 0;
}

.input-textarea {
  min-height: 120px;
  width: 50%;
  padding: 0.6rem;
  resize: vertical;
  border-radius: 0.3rem;
  border: 1px solid #ced4da;
}
