:root {
  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25); /* box shadow*/
  --bsx: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
  --grey: #495057;
  --light-grey: #ced4da;
}

body {
  background-color: rgb(68, 190, 199); /* fallback */
  background-image: url(services-bg.jpg);
  background-size: cover;
  margin-left: 20px;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Amatic SC', cursive;
  font-size: 1.6em;
}

.container {
  margin: 0.5em;
  padding: 2rem;
  background-color: rgba(68, 190, 250, 0.5);
  border-radius: 0.8rem;
  box-shadow: var(--bsx);
}

h1 {
  margin: 0;
  padding: 0.1em;
}

p {
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 10px 0;
  font-size:
}

#title {
  text-align: center;
  font-size: 3em;
}

#description {
  margin: 0 0 15px 0;
  text-align: center;
  opacity:45%;
  padding: 1em;
}

[data-tooltip]:hover::after {
  content: attr(data-tooltip); /* content is the data-tooltip attribute */
  position: relative;
  top: 0; /* so the tooltip will be at the bottom */
  left: 5px;
  padding: 4px;
  background-color: #0ca5aa85;
  border-radius: 0.5rem;
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: .8rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7em;
  border-radius: 0.5rem;
  box-shadow: var(--bs);
}

.form-control {
  display: block;
  width: 50%;
  height: 1.7rem;
  padding: 0.3rem 0.7rem;
  color: var(--grey);
  background-color: #f2fdfc;
  background-clip: padding-box;
  border: 1px solid var(--light-grey);
  border-radius: 0.3rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75em;
}

.input-checkbox, .input-radio {
  display: inline-block;
  margin-right: 0.6rem;
  min-height: 1.2rem;
  min-width: 1.2rem;
}

.input-textarea {
  min-height: 120px;
  width: 92%;
  padding: 0.6rem;
  resize: vertical;
  border-radius: 0.3rem;
  border: 1px solid var(--light-grey);
}

.form-groupa {
  margin: 0 auto 1.25rem auto;
  padding: .6rem;
  font-size: 0.7em;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-evenly;
}

button:hover {
  background-color: #0CA5AA;
  transform: scale(1.1);
}

.submit-butt {
  font-family: 'Montserrat', sans-serif;
  background-color: #0CA5AA85;
  border-radius: 0.3rem;
  display: block;
  width: 33%;
  height: 4rem;
  color: var(--grey);
  border: 1px solid var(--light-grey);
  padding: 0.5em;
  cursor: pointer;
  transition: 0.8s;
}

@media (min-width: 600px) {
  .container {
    margin: 2em;
    padding: 3rem;
  }

  .form-control {
    width: 50%;
  }

  .input-textarea {
    width: 92%;
  }

  .submit-butt {
    width: 50%;
  }
}

@media (min-width: 900px) {
  .container {
    margin: 5em;
    padding: 5rem;
  }

  .form-control {
    width: 50%;
  }

  .input-textarea {
    width: 92%;
  }

  .submit-butt {
    width: 50%;
  }
}


/*

body {
  background-color: rgb(68, 190, 199);		#44bec7		greenish
}

.container {
  background-color: rgba(68, 190, 250, 0.5);	#44befa50	blueish 50%
}

[data-tooltip]:hover::after {
  background-color: #0ca5aa85;					greenish dark 85%
}


button:hover {
  background-color: #0ca5aa;					greenish dark
}

.submit-butt {
  background-color: #0ca5aa85;					greenish dark 85%
}

*/
