header {
  position: fixed;
  background-color: grey;
  width: 100%;
  /* text-align: center; */
}

ul {
  padding: 10px;
}

.container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

.section {
  display: block;
}

@media (min-width: 350px) {
  p {
    font-size: 2em;
  }

}
